.button {
    width: 230px;
    height: 60px;
    background-color: $blue;
    border: none;
    font-family: 'Aleo', serif;
    color: white;
    font-size: 16px;
    line-height: 26px;
    padding: 0px;

    &:hover {
        cursor: pointer;
        color: $salmon;
    }
}