h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: bold; 
    margin: 0px;
}

.hero a {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 50px;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
}

#safe {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.8px;
}

#travel {
    text-align: center;
    color: $dark-grey;
    font-size: 14px;
    letter-spacing: 2.8px;
    font-family: 'Josefin Sans', sans-serif;
}

#submit {
    font-family: 'Aleo', serif;
    color: white;
    font-size: 20px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0px;
    font-size: 22px;
    line-height: 26px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

a{
    font-family: 'Aleo', serif;
    color: white;
}

li {
    font-family: 'Aleo', serif;
    color: white;
    font-size: 14px;
    line-height: 26px;
}

h2 {
    font-family: 'Aleo', serif;
    color: white;
    font-size: 36px;
    line-height: 26px; 
}

a:hover {
    color: $salmon;
}

.fa-quote-left {
    color: $blue;
    font-size: 35px;
    margin-right: 15px;
}